RewriteEngine On
Options -MultiViews

RewriteBase /riset/ci/


# jika bukan file dan bukan directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# index.php/URL
RewriteRule ^(.*)$ index.php/$1 [PT,L]